[*.cs]

# CA1814: Prefer jagged arrays over multidimensional
# Justification: Intentionally multidimensional
dotnet_diagnostic.CA1814.severity = none

# CA1062: Validate arguments of public methods
# Justification: Not dealing with these at the moment (maybe adopt the C# nullable instead?)
dotnet_diagnostic.CA1062.severity = none

# CA1303: Do not pass literals as localized parameters
# Justification: No localization support
dotnet_diagnostic.CA1303.severity = none

# IDE1006: Naming Styles
# Justification: Intentionally not following the letter-casing guidelines
dotnet_diagnostic.IDE1006.severity = none

# IDE0079: Remove unnecessary suppression
# Justification: Suggestions are false positives and don't work well with ReSharper
dotnet_diagnostic.IDE0079.severity = none
