*               text=auto

*.cs            text diff=csharp
*.sln           text merge=union

*.png           binary

.gitattributes  export-ignore
.gitignore      export-ignore

dotnet-tools.json eol=lf
